# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/ForexTester.suo
/ForexTester/ForexTester.csproj.user
/_ReSharper.ForexTester/AspFileDataCache.dat
/_ReSharper.ForexTester/BuildScriptCache/.crc
/_ReSharper.ForexTester/BuildScriptCache/.version
/_ReSharper.ForexTester/BuildScriptCache/8/6a96287a.dat
/_ReSharper.ForexTester/CompletionStatistics/Statistics.dat
/_ReSharper.ForexTester/ConditionalNames/.crc
/_ReSharper.ForexTester/ConditionalNames/.version
/_ReSharper.ForexTester/ConditionalNames/4/be44305.dat
/_ReSharper.ForexTester/JSTest/.crc
/_ReSharper.ForexTester/JSTest/.version
/_ReSharper.ForexTester/JavaScriptCache/.crc
/_ReSharper.ForexTester/JavaScriptCache/.version
/_ReSharper.ForexTester/JavaScriptCache/3/3f416176.dat
/_ReSharper.ForexTester/MVC/.crc
/_ReSharper.ForexTester/MVC/.version
/_ReSharper.ForexTester/ModuleIds.xml
/_ReSharper.ForexTester/NamedArguments/.crc
/_ReSharper.ForexTester/NamedArguments/.version
/_ReSharper.ForexTester/NamedArguments/4/be44305.dat
/_ReSharper.ForexTester/PersistenIdIndex.bin
/_ReSharper.ForexTester/RecentItems/RecentFiles.dat
/_ReSharper.ForexTester/Resources/.crc
/_ReSharper.ForexTester/Resources/.version
/_ReSharper.ForexTester/Resources/6/182d3dab.dat
/_ReSharper.ForexTester/SymbolCache.bin
/_ReSharper.ForexTester/TagPrefixes/.crc
/_ReSharper.ForexTester/TagPrefixes/.version
/_ReSharper.ForexTester/TodoItems/.crc
/_ReSharper.ForexTester/TodoItems/.version
/_ReSharper.ForexTester/TodoItems/3/3f416176.dat
/_ReSharper.ForexTester/WebSymbols/.crc
/_ReSharper.ForexTester/WebSymbols/.version
/_ReSharper.ForexTester/WordIndex/.crc
/_ReSharper.ForexTester/WordIndex/.version
/_ReSharper.ForexTester/WordIndex/4/be44305.dat
/_ReSharper.ForexTester/XmlIndex/Accessibility.xml/59F683E5.bin
/_ReSharper.ForexTester/XmlIndex/Accessibility.xml/C7A6AAD7.bin
/_ReSharper.ForexTester/XmlIndex/Microsoft.Build.Framework.4.0.0.0.Nullness.Generated.xml/91BD6FD3.bin
/_ReSharper.ForexTester/XmlIndex/Microsoft.Build.Framework.xml/5B4D04B5.bin
/_ReSharper.ForexTester/XmlIndex/Microsoft.Build.Tasks.v4.0.4.0.0.0.Nullness.Generated.xml/AB623953.bin
/_ReSharper.ForexTester/XmlIndex/Microsoft.Build.Tasks.v4.0.xml/390E8A25.bin
/_ReSharper.ForexTester/XmlIndex/Microsoft.Build.Utilities.v4.0.4.0.0.0.Nullness.Generated.xml/07D57913.bin
/_ReSharper.ForexTester/XmlIndex/Microsoft.Build.Utilities.v4.0.xml/1A2D939D.bin
/_ReSharper.ForexTester/XmlIndex/Microsoft.CSharp.4.0.0.0.Nullness.Generated.xml/10F25633.bin
/_ReSharper.ForexTester/XmlIndex/Microsoft.CSharp.xml/1D407EB8.bin
/_ReSharper.ForexTester/XmlIndex/Microsoft.VisualC.xml/2F48D914.bin
/_ReSharper.ForexTester/XmlIndex/SMDiagnostics.4.0.0.0.Nullness.Generated.xml/8E9945D3.bin
/_ReSharper.ForexTester/XmlIndex/System.4.0.0.0.Contracts.xml/7458FC03.bin
/_ReSharper.ForexTester/XmlIndex/System.4.0.0.0.Nullness.Generated.xml/5304AF33.bin
/_ReSharper.ForexTester/XmlIndex/System.4.0.0.0.Pure.xml/403889F0.bin
/_ReSharper.ForexTester/XmlIndex/System.Configuration.4.0.0.0.Contracts.xml/8AA99CC3.bin
/_ReSharper.ForexTester/XmlIndex/System.Configuration.4.0.0.0.Nullness.Generated.xml/5C04A9F3.bin
/_ReSharper.ForexTester/XmlIndex/System.Configuration.4.0.0.0.Pure.xml/A30FD330.bin
/_ReSharper.ForexTester/XmlIndex/System.Configuration.Install.4.0.0.0.Contracts.xml/F6158D63.bin
/_ReSharper.ForexTester/XmlIndex/System.Configuration.Install.4.0.0.0.Nullness.Generated.xml/28353B53.bin
/_ReSharper.ForexTester/XmlIndex/System.Configuration.Install.xml/7FB1C71F.bin
/_ReSharper.ForexTester/XmlIndex/System.Configuration.xml/092A1070.bin
/_ReSharper.ForexTester/XmlIndex/System.Configuration.xml/3BFF1442.bin
/_ReSharper.ForexTester/XmlIndex/System.Core.4.0.0.0.Contracts.xml/9A69C6A3.bin
/_ReSharper.ForexTester/XmlIndex/System.Core.4.0.0.0.Nullness.Generated.xml/8E5F4293.bin
/_ReSharper.ForexTester/XmlIndex/System.Core.4.0.0.0.Pure.xml/D7464B10.bin
/_ReSharper.ForexTester/XmlIndex/System.Core.LinqTunnel.xml/63F26974.bin
/_ReSharper.ForexTester/XmlIndex/System.Core.Nullness.Manual.xml/31BDD0E2.bin
/_ReSharper.ForexTester/XmlIndex/System.Core.xml/11686E5B.bin
/_ReSharper.ForexTester/XmlIndex/System.Core.xml/1C6B8C69.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.4.0.0.0.Contracts.xml/68A7E423.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.4.0.0.0.Nullness.Generated.xml/7A169013.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.4.0.0.0.Pure.xml/595BF890.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.DataSetExtensions.4.0.0.0.Nullness.Generated.xml/DB866913.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.DataSetExtensions.I18n.xml/B16CE5E8.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.DataSetExtensions.xml/561D2A14.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.I18n.xml/51BDCCE8.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.OracleClient.4.0.0.0.Nullness.Generated.xml/9BDAABD3.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.OracleClient.xml/27DDCE31.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.SqlXml.4.0.0.0.Nullness.Generated.xml/B9F432D3.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.SqlXml.xml/0CFF57DB.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.SqlXml.xml/48CF6F29.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.xml/2535F582.bin
/_ReSharper.ForexTester/XmlIndex/System.Data.xml/7BF6DA70.bin
/_ReSharper.ForexTester/XmlIndex/System.Deployment.4.0.0.0.Nullness.Generated.xml/B159D593.bin
/_ReSharper.ForexTester/XmlIndex/System.Deployment.xml/566A1F4B.bin
/_ReSharper.ForexTester/XmlIndex/System.Deployment.xml/CC017739.bin
/_ReSharper.ForexTester/XmlIndex/System.Design.4.0.0.0.Nullness.Generated.xml/97CA2CD3.bin
/_ReSharper.ForexTester/XmlIndex/System.Design.xml/66D504B2.bin
/_ReSharper.ForexTester/XmlIndex/System.DirectoryServices.4.0.0.0.Nullness.Generated.xml/494E7693.bin
/_ReSharper.ForexTester/XmlIndex/System.DirectoryServices.Protocols.4.0.0.0.Nullness.Generated.xml/CFA46BF3.bin
/_ReSharper.ForexTester/XmlIndex/System.DirectoryServices.Protocols.xml/A1B5E32C.bin
/_ReSharper.ForexTester/XmlIndex/System.DirectoryServices.xml/14397267.bin
/_ReSharper.ForexTester/XmlIndex/System.DirectoryServices.xml/88DA6355.bin
/_ReSharper.ForexTester/XmlIndex/System.Drawing.4.0.0.0.Contracts.xml/90ED1C03.bin
/_ReSharper.ForexTester/XmlIndex/System.Drawing.4.0.0.0.Nullness.Generated.xml/283CCF33.bin
/_ReSharper.ForexTester/XmlIndex/System.Drawing.4.0.0.0.Pure.xml/07B8A9F0.bin
/_ReSharper.ForexTester/XmlIndex/System.Drawing.Design.4.0.0.0.Nullness.Generated.xml/EFA69853.bin
/_ReSharper.ForexTester/XmlIndex/System.Drawing.Design.xml/E232227C.bin
/_ReSharper.ForexTester/XmlIndex/System.Drawing.xml/2F425360.bin
/_ReSharper.ForexTester/XmlIndex/System.Drawing.xml/CD562AD2.bin
/_ReSharper.ForexTester/XmlIndex/System.Dynamic.4.0.0.0.Nullness.Generated.xml/8CC52453.bin
/_ReSharper.ForexTester/XmlIndex/System.EnterpriseServices.4.0.0.0.Nullness.Generated.xml/C42E9193.bin
/_ReSharper.ForexTester/XmlIndex/System.EnterpriseServices.xml/484CBB5B.bin
/_ReSharper.ForexTester/XmlIndex/System.EnterpriseServices.xml/BC835E69.bin
/_ReSharper.ForexTester/XmlIndex/System.I18n.xml/E767B348.bin
/_ReSharper.ForexTester/XmlIndex/System.Nullness.Manual.xml/AC02D602.bin
/_ReSharper.ForexTester/XmlIndex/System.Numerics.4.0.0.0.Nullness.Generated.xml/0D729213.bin
/_ReSharper.ForexTester/XmlIndex/System.Numerics.xml/4231948A.bin
/_ReSharper.ForexTester/XmlIndex/System.Numerics.xml/F65D6778.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Caching.4.0.0.0.Nullness.Generated.xml/8BB7FA53.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Caching.xml/6E34C19B.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.DurableInstancing.4.0.0.0.Nullness.Generated.xml/94C6B993.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Remoting.4.0.0.0.Nullness.Generated.xml/5A03BD53.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Remoting.xml/3CA70F41.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Remoting.xml/99D48EF3.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Serialization.4.0.0.0.Nullness.Generated.xml/4774B3B3.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Serialization.Attributes.xml/E749FA69.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Serialization.Formatters.Soap.2.0.0.0.Contracts.xml/6A729305.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Serialization.Formatters.Soap.4.0.0.0.Contracts.xml/4C2FB483.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Serialization.Formatters.Soap.4.0.0.0.Nullness.Generated.xml/F932F7B3.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Serialization.Formatters.Soap.xml/AC344D82.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Serialization.Formatters.Soap.xml/C8E5DC30.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Serialization.xml/014E8BDC.bin
/_ReSharper.ForexTester/XmlIndex/System.Runtime.Serialization.xml/B677C06E.bin
/_ReSharper.ForexTester/XmlIndex/System.Security.4.0.0.0.Contracts.xml/203E41A3.bin
/_ReSharper.ForexTester/XmlIndex/System.Security.4.0.0.0.Nullness.Generated.xml/F66E1D93.bin
/_ReSharper.ForexTester/XmlIndex/System.Security.4.0.0.0.Pure.xml/3CA1E610.bin
/_ReSharper.ForexTester/XmlIndex/System.Security.xml/02B7D304.bin
/_ReSharper.ForexTester/XmlIndex/System.Security.xml/55841E76.bin
/_ReSharper.ForexTester/XmlIndex/System.ServiceProcess.4.0.0.0.Nullness.Generated.xml/359B1C13.bin
/_ReSharper.ForexTester/XmlIndex/System.ServiceProcess.xml/2335E116.bin
/_ReSharper.ForexTester/XmlIndex/System.Transactions.4.0.0.0.Nullness.Generated.xml/3921BF93.bin
/_ReSharper.ForexTester/XmlIndex/System.Transactions.xml/377E8A05.bin
/_ReSharper.ForexTester/XmlIndex/System.Transactions.xml/A0E212F7.bin
/_ReSharper.ForexTester/XmlIndex/System.Web.4.0.0.0.Contracts.xml/9CAD0083.bin
/_ReSharper.ForexTester/XmlIndex/System.Web.4.0.0.0.Nullness.Generated.xml/4965C3B3.bin
/_ReSharper.ForexTester/XmlIndex/System.Web.4.0.0.0.Pure.xml/4657BE70.bin
/_ReSharper.ForexTester/XmlIndex/System.Web.ApplicationServices.4.0.0.0.Nullness.Generated.xml/3969B1B3.bin
/_ReSharper.ForexTester/XmlIndex/System.Web.ApplicationServices.xml/331D36EA.bin
/_ReSharper.ForexTester/XmlIndex/System.Web.Attributes.xml/C91B0A69.bin
/_ReSharper.ForexTester/XmlIndex/System.Web.I18n.xml/DDDA67C8.bin
/_ReSharper.ForexTester/XmlIndex/System.Web.RegularExpressions.xml/B6E517C5.bin
/_ReSharper.ForexTester/XmlIndex/System.Web.Services.4.0.0.0.Nullness.Generated.xml/30597093.bin
/_ReSharper.ForexTester/XmlIndex/System.Web.Services.Attributes.xml/336EB089.bin
/_ReSharper.ForexTester/XmlIndex/System.Web.Services.xml/057956D0.bin
/_ReSharper.ForexTester/XmlIndex/System.Web.xml/C4EB8CF0.bin
/_ReSharper.ForexTester/XmlIndex/System.Windows.Forms.4.0.0.0.Contracts.xml/0AA1AF83.bin
/_ReSharper.ForexTester/XmlIndex/System.Windows.Forms.4.0.0.0.Nullness.Generated.xml/E30F52B3.bin
/_ReSharper.ForexTester/XmlIndex/System.Windows.Forms.4.0.0.0.Pure.xml/FDE30D70.bin
/_ReSharper.ForexTester/XmlIndex/System.Windows.Forms.DataVisualization.4.0.0.0.Nullness.Generated.xml/154D1EB3.bin
/_ReSharper.ForexTester/XmlIndex/System.Windows.Forms.DataVisualization.xml/4880B082.bin
/_ReSharper.ForexTester/XmlIndex/System.Windows.Forms.DataVisualization.xml/6A918830.bin
/_ReSharper.ForexTester/XmlIndex/System.Windows.Forms.I18n.xml/4286B6C8.bin
/_ReSharper.ForexTester/XmlIndex/System.Windows.Forms.Manual.xml/4EEF7F3C.bin
/_ReSharper.ForexTester/XmlIndex/System.Windows.Forms.xml/13FFA7C6.bin
/_ReSharper.ForexTester/XmlIndex/System.Windows.Forms.xml/628A07B4.bin
/_ReSharper.ForexTester/XmlIndex/System.Xaml.4.0.0.0.Nullness.Generated.xml/A8037753.bin
/_ReSharper.ForexTester/XmlIndex/System.Xaml.xml/B4FB056A.bin
/_ReSharper.ForexTester/XmlIndex/System.Xaml.xml/C4D1BFD8.bin
/_ReSharper.ForexTester/XmlIndex/System.Xml.4.0.0.0.Contracts.xml/53D95363.bin
/_ReSharper.ForexTester/XmlIndex/System.Xml.4.0.0.0.Nullness.Generated.xml/DD97C153.bin
/_ReSharper.ForexTester/XmlIndex/System.Xml.4.0.0.0.Pure.xml/5A1C7B50.bin
/_ReSharper.ForexTester/XmlIndex/System.Xml.Attributes.xml/09EED2C9.bin
/_ReSharper.ForexTester/XmlIndex/System.Xml.I18n.xml/8B551FA8.bin
/_ReSharper.ForexTester/XmlIndex/System.Xml.Linq.4.0.0.0.Contracts.xml/0FA00AA3.bin
/_ReSharper.ForexTester/XmlIndex/System.Xml.Linq.4.0.0.0.Nullness.Generated.xml/0EE20693.bin
/_ReSharper.ForexTester/XmlIndex/System.Xml.Linq.4.0.0.0.Pure.xml/9C820F10.bin
/_ReSharper.ForexTester/XmlIndex/System.Xml.Linq.I18n.xml/A5756368.bin
/_ReSharper.ForexTester/XmlIndex/System.Xml.Linq.xml/315B32BF.bin
/_ReSharper.ForexTester/XmlIndex/System.Xml.Linq.xml/AD7A27CD.bin
/_ReSharper.ForexTester/XmlIndex/System.Xml.xml/48B5EA79.bin
/_ReSharper.ForexTester/XmlIndex/System.Xml.xml/EAFF084B.bin
/_ReSharper.ForexTester/XmlIndex/System.xml/13EB449C.bin
/_ReSharper.ForexTester/XmlIndex/System.xml/74BB9F68.bin
/_ReSharper.ForexTester/XmlIndex/System.xml/C3B3EEEE.bin
/_ReSharper.ForexTester/XmlIndex/mscorlib.4.0.0.0.Contracts.xml/0DED0883.bin
/_ReSharper.ForexTester/XmlIndex/mscorlib.4.0.0.0.Interfaces.Nullness.Generated.xml/620DC5CB.bin
/_ReSharper.ForexTester/XmlIndex/mscorlib.4.0.0.0.Nullness.Generated.xml/772ECBB3.bin
/_ReSharper.ForexTester/XmlIndex/mscorlib.4.0.0.0.Pure.xml/6572C670.bin
/_ReSharper.ForexTester/XmlIndex/mscorlib.I18n.xml/366D6FC8.bin
/_ReSharper.ForexTester/XmlIndex/mscorlib.Nullness.Manual.xml/A029C282.bin
/_ReSharper.ForexTester/XmlIndex/mscorlib.ValueFlow.xml/4E59B0BF.bin
/_ReSharper.ForexTester/XmlIndex/mscorlib.xml/05998BE8.bin
/_ReSharper.ForexTester/XmlIndex/mscorlib.xml/743ADB6C.bin
/_ReSharper.ForexTester/XmlIndex/mscorlib.xml/80BFF39E.bin
/_ReSharper.ForexTester/JbDecompilerCache/metadata/System.Windows.Forms.DataVisualization-1fb8/Assembly.Location.txt
/_ReSharper.ForexTester/JbDecompilerCache/metadata/System.Windows.Forms.DataVisualization-1fb8/t/System/Windows/Forms/DataVisualization/Charting/ChartArea.cs
/_ReSharper.ForexTester/JbDecompilerCache/metadata/System.Windows.Forms.DataVisualization-1fb8/t/System/Windows/Forms/DataVisualization/Charting/ChartArea.cs.flags
/_ReSharper.ForexTester/JbDecompilerCache/metadata/System.Windows.Forms.DataVisualization-1fb8/t/System/Windows/Forms/DataVisualization/Charting/ChartArea.cs.info
/_ReSharper.ForexTester/JbPdbInfo/0543c31d7c00995fd6da8858744cf9421d1ed02a
/_ReSharper.ForexTester/JbPdbInfo/26c973fd2664178163b9d4471bcb09f38d669475
/_ReSharper.ForexTester/JbPdbInfo/2d14ec1bfc823b40611cb7d167359be06978c532
/_ReSharper.ForexTester/JbPdbInfo/3be3a7741f1f74a7eb14320e09cff40778ce3c8a
/_ReSharper.ForexTester/JbPdbInfo/406a7b2ddf14bb35fc6cb64851fbfb3ec642c8ee
/_ReSharper.ForexTester/JbPdbInfo/44a98277f25fc72df5ffd153149aaa8312b59a6a
/_ReSharper.ForexTester/JbPdbInfo/45c115822ae5041cd0339f6eae02b137db0ae710
/_ReSharper.ForexTester/JbPdbInfo/4d1aa66d8ca2d6889993ae076e9dbe356041d0e0
/_ReSharper.ForexTester/JbPdbInfo/78870c0047f788999bd2909de19ab49e8c66a1e0
/_ReSharper.ForexTester/JbPdbInfo/895d33d4fcbf382861ad53b06209108714c3d05e
/_ReSharper.ForexTester/JbPdbInfo/9a2a1653c76c999eebfb509b158c015c57e39244
/_ReSharper.ForexTester/JbPdbInfo/9da93c7c658b7d86b174dd663367d63523fe03c2
/_ReSharper.ForexTester/JbPdbInfo/b5993e732f3a58080abfab62e1d01dcb9a73d9ae
/_ReSharper.ForexTester/JbPdbInfo/b60ce29638007ab54c4ccad1bcdd855da737ae8c
/_ReSharper.ForexTester/JbPdbInfo/fa8855564ce5e792816705de1169b636718b2bfe
DataPoint.cs
DataPoint.cs.flags
DataPoint.cs.info
SeriesChartType.cs
SeriesChartType.cs.flags
SeriesChartType.cs.info
